<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
                <binding name="WSHttpBinding_IFleeterService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/fleeter" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFleeterService" contract="FleeterServiceProxy.IFleeterService"
                name="WSHttpBinding_IFleeterService">
            </endpoint>
            <endpoint address="http://localhost:8080/users" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="UserServiceProxy.IUserService"
                name="WSHttpBinding_IUserService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>